@model Knowledge_pantry.Models.SummaryOptionsViewModels.ViewAndEditSummaryViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<style>
    input[type="radio"] {
        display: none;
    }
</style>


<h2 class="text-center">@Model.Lecture.Caption</h2>
<div class="row">
    <label class="col-sm-2 col-sm-offset-1">Number of specialty: @Model.Lecture.NumberOfSpecialty</label><br />
</div>
<div class="row">
    <p class="col-sm-2 col-sm-offset-1"><label>Annotation:</label> @Model.Lecture.Annotation</p>
</div>
<p>@Model.Lecture.Text</p>
<hr />
<form method="post" class="form-horizontal">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" id="messageText" name="messageText" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" asp-route-id="@Model.Lecture.Id" asp-route-messageExist="@true">Send</button>
                </span>
            </div>
        </div>
    </div>

    @if (Model.LectureComments != null)
    {
        foreach (Comment comment in Model.LectureComments)
        {
            <div class="form-group row">
                <blockquote>
                    <label>
                        <input type="radio" value="@comment.Id" name="parentId" />
                        @comment.CreatorName: @comment.Text
                    </label>
                    <footer>
                        @comment.CreationTime
                        <button type="submit" class="btn" asp-route-id="@Model.Lecture.Id" asp-route-likeExist="@true" asp-route-commentId="@comment.Id">
                            <span class="glyphicon glyphicon-heart"></span>
                            @comment.Like
                        </button>
                    </footer>
                </blockquote>
            </div>
            @*<script>
            function Like() {

            }
            </script>*@
        }
    }
</form>
