@model Knowledge_pantry.Models.Summary
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<form method="post">
    
    <div class="form-group row">
        <div class="col-6 col-lg-3">
            <input class="form-control" id="caption" name="caption" value="@Model.Caption">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-6 col-lg-3">
            <input class="form-control" id="numberOfSpecialty" name="numberOfSpecialty" value="@Model.NumberOfSpecialty">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-6 col-lg-6">
            <textarea class="form-control" id="annotation" name="annotation">@Model.Annotation</textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-6 col-lg-9">
            <textarea class="form-control" id="text" name="text">@Model.Text</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-lg-1">
            <button type="submit" class="form-control btn btn-primary"
                    asp-route-id="@Model.Id" asp-route-like="@Model.Like">Edit</button>
        </div>
        <div class="col-3 col-lg-1">
            <button type="submit" class="form-control btn btn-danger" asp-route-id="@Model.Id" asp-route-delete="@true">Delete</button>
        </div>
    </div>
</form>