@model Knowledge_pantry.Models.SummaryOptionsViewModels.ViewAndEditSummaryViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<style>
    input[type="radio"] {
        display: none;
    }
</style>

<form method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Heading</label>
        <div class="col-sm-3">
            <input class="form-control" id="caption" name="caption" value="@Model.Lecture.Caption">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Number of specialty</label>
        <div class="col-sm-3">
            <input class="form-control" id="numberOfSpecialty" name="numberOfSpecialty" value="@Model.Lecture.NumberOfSpecialty">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Annotation</label>
        <div class="col-sm-6">
            <textarea class="form-control" rows="2" id="annotation" name="annotation">@Model.Lecture.Annotation</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Text</label>
        <div class="col-sm-8">
            <textarea class="form-control" rows="8" id="text" name="text">@Model.Lecture.Text</textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-1 col-sm-offset-2">
            <button type="submit" class="btn btn-primary" asp-route-id="@Model.Lecture.Id" asp-route-like="@Model.Lecture.Like">
                Edit
            </button>
        </div>
        <div class="col-sm-1 col-sm-offset-1">
            <button type="submit" class="btn btn-danger" asp-route-id="@Model.Lecture.Id" asp-route-delete="@true">Delete</button>
        </div>
        <div class="col-sm-1 col-sm-offset-1">
            <button type="submit" class="btn btn-success" asp-route-id="@Model.Lecture.Id" asp-route-view="@true">View</button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" id="messageText" name="messageText" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" asp-route-id="@Model.Lecture.Id" asp-route-messageExist="@true">Send</button>
                </span>
            </div>
        </div>
    </div>
    @if(Model.LectureComments != null)
     {
        foreach (Comment comment in Model.LectureComments)
        {
        <div class="form-group row">
            <blockquote>
                <label>
                    <input type="radio" value="@comment.Id" name="parentId" />
                    @comment.CreatorName: @comment.Text
                </label>
                <footer>
                    @comment.CreationTime
                    <button type="submit" class="btn" asp-route-id="@Model.Lecture.Id" asp-route-likeExist="@true" asp-route-commentId="@comment.Id">
                        <span class="glyphicon glyphicon-heart"></span>
                        @comment.Like
                    </button>
                </footer>
            </blockquote>
        </div>
        }
    @*<p id="comment_@comment.Id" onclick="www(@comment.Id)">
        @comment.CreationTime @comment.CreatorName: @comment.Text
    </p>*@
     }
</form>

@*<script>
    function www(id) {
        var element = document.getElementById("comment_" + id);
        element.style.backgroundColor = "green";
    }
</script>*@